<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <link rel="stylesheet" href="./css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
</head>
<script src="/socket.io/socket.io.js"></script>
<body>
    
    <div class="hero_sec">
        <div class="hero_text w3-lobster w3-xxxlarge w3-text-white">Aremou server</div>
    </div>
    <div class="w3-blue w3-xxxlarge w3-center">
       Nodejs Server for Game Apps
    </div>
    <input id="input" type="text" placeholder="id of room">
    <button>Submit</button>
</body>
<script src="./js/index.js"></script>

</html>